<div class="shout">
  <div class="shout-user-photo"><%= avatar shout.user%></div>
  <div><%= link_to shout.username, shout.user%></div>
  <div><%=  render shout.content%></div>
  <div><%= link_to shout do %>
    <%= time_ago_in_words(shout.created_at) %> ago
  <% end %>
  </div>
  <div><%= like_button(shout)%></div>
</div>