<div class="home-page user-page">
    <div class="user-info">
        <div class="user-photo-name">
            <div class="user-photo">
                <%= avatar(@user) %>
            </div>
            <h1><%= @user.username%></h1>
        </div>
        <div class="user-follow">
            <%= follow_button @user%>
            <%= link_to "Followers", user_followers_path(@user)%>
        </div>

    </div>

    <%= render @timeline %>
</div>