<!DOCTYPE html>
<html>
  <head>
    <title>Shoutr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-section">
      <div class="container">
      <div class="navbar-container">
          <div class="search-block"><%= render "search" %></div>
          <div class="sign-status">
            <% if signed_in? %>
              <div class="sign-as">Signed in as: <span class="email"><%= current_user.email %></span></div>
              <div class="navbar-button"><%= link_to 'Sign out', sign_out_path, method: :delete %><i class="fa fa-sign-out-alt"></i></div>
            <% else %>
              <div class="navbar-button"><%= link_to 'Sign in', sign_in_path %><i class="fa fa-sign-in-alt"></i></div>
            <% end %>
            <div class="navbar-button home-button"><%= link_to icon('fas', 'home', class: 'strong'), root_path %></div>
          </div> 
          
        </div>     
      </div>
    </div>

    <div class="container"> 
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

      
      <div><%= yield %></div>
    </div>
  </body>
</html>
